/* Skip Content */
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
  }
  .skip a:focus{
    top: 0px; 
  }


/* Master styles  */
body { 
    margin: 0px;
    padding: 0px; 
    background-color: #fffceb;  
}
h1 {
    text-align: center;
    font-family: "Basic"; 
    padding: 12px; 
}

p {
    font-family: "Boker"
}
.container {
    display: grid; 
    grid-template-columns: 1fr; 
}
.nav-wrapper {
    display: flex; 
    justify-content: space-between; 
    padding: 25px; 
    font-weight: bold; 
}
.nav-link-wrapper a.current {
    border-bottom: 1px solid underline; 
    text-decoration: underline;  
}
.right-side {
    display: flex;  
}

.nav-wrapper > .right-side > div {
    margin-right: 20px; 
    font-size: 0.9em; 
    text-transform: uppercase; 
}

.nav-link-wrapper {
    height: 22px; 
    border-bottom: 1px solid transparent;   
    transition: border-bottom 0.5s; 
}

.nav-link-wrapper a {
    color: black; 
    text-decoration: none; 
    transition: color 0.5s; 
}

.nav-link-wrapper:hover {
    /* border-bottom: 1px solid black;  */
}

.nav-link-wrapper a:hover {
   color:  black; 
}

.slogan {
    text-align: center;
    font-family: "Basic"; 
    padding: 12px; 
}

.brand {
    max-width: 100%; 
    height: auto; 
}

/* Main Page Styles */ 

.homepage-photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
  }


img { 
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    grid-column: 1 / -1;  
    /* margin: 0 auto;  */
    display: block; 
    justify-content: flex-end;
  }

  #footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px; 
    grid-column: 1 / -1;  
    margin: 0 auto; 
    display: block; 
    justify-content: flex-end;
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%
  }


@media only screen and (max-width: 500px){
    .homepage-photos{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    }
}


@media only screen and (min-width: 750px) and (max-width: 1000px){ 
    .homepage-photos{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    }
}

/* About Section */

.two-column-wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
}

.profile-image-wrapper img {
    object-fit: cover;  
    width: auto;
    max-height: 65vh;
    margin-bottom: 20px;
}

.center{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
}

.profile-content-wrapper {
    padding: 30px; 
    grid-template-columns: 1fr 1fr;  
}

.profile-content-wrapper h1 { 
    color: rgb(13, 110, 139); 
}

@media only screen and (max-width: 500px){
    .homepage-photos, .two-column-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    }

    .profile-image-wrapper img{
            max-height: 50vh; 
    }
}

/* Music Videos Section */

.music-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;  
    
}


.songs{
    display: grid; 
    justify-content: space-between; 
}

video {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 500px){
    .music-videos{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    }
}

video {
    padding: 8px;
}


/* Contact Form */

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  form {
    border: 3px solid #f1f1f1;
  }
  
  legend{ 
    font-size: 125%;
    font-style:italic;
    text-transform: uppercase;
    text-align: center;
  }
  
  label{
    display: inline-block;
    margin-right:10px;
    width:15%;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
  }
  
  textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input:hover, textarea:hover {
      background-color:lightgrey;
  }
  
  input[type=checkbox]{
      display:inline;
      width:inherit;
  }
  
  input[type=submit] {
    background-color:rgb(13, 110, 139);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

  #contacttitle {
      text-align: center; 
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (min-width: 770px) {
    form{
      width: 80%;
      margin: 0 auto;
    }
  
    input{
      width:80%;
    }
  
    textarea{
      width:80%;
      height: 25vh;
   }
   
   div + label{
      line-height: 25vh;
      vertical-align:top;
   }
  }
